/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@angular/cdk/overlay-prebuilt.css';

body {
  @apply bg-white text-black;
}

@layer utilities {
  .dark {
    .bg-white {
      background-color: #171717;
    }
    .bg-neutral-100 {
      background-color: #404040;
    }
    .text-black {
      color: #fff;
    }
    .border-neutral-200 {
      border-color: #525252;
    }
  }
}